<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="initial-scale=1.0, width=device-width, viewport-fit=cover"
    />
    <link rel="shortcut icon" href="./png/icon.png" />
    <link rel="stylesheet" href="../styles/common_style.css" />
    <link rel="stylesheet" href="../styles/cocktails.css" />
    <title>Simple Fortune</title>
  </head>
  <body>
    <div class="wrapper">
      <a href="./main.html" class="home">
        <img src="../png/home.png" alt="home" />
      </a>

      <img src="../png/bar.png" alt="bar" class="bar top" />
      <div class="cocktails top"></div>
      <img src="../png/bar.png" alt="bar" class="bar bottom" />
      <div class="cocktails bottom"></div>
    </div>
    <script src="../scripts/cocktails.js"></script>
  </body>
</html>
